/*

    @FileName: MCSManager 9 夜间模式
    @Last Date: 2022.9.26
    @Create Date: 2022.9.27
    @Author: Lazy
    @Description：适用于 MCSManager 9.6 的夜间模式样式

*/
.dark a {
    color: #ff8cc3;
    transition: all 0.3s;
}

.dark a:hover {
    color: #ff65ae;
}

.dark,#login-panel-wrapper {
    background: #111111;
}

.dark .el-card {
    background: #202020;
    color: #fff
}

.dark #app-menu {
    background: #202020;
    border-right: 1px solid #787878;
}

.dark .el-drawer {
    background: #202020;
    border: 1px solid #787878;
}

.dark .overview-info-title {
    color: #b3e8ff;
}

.dark .sub-title-info {
    color: #afeaff;
}

.dark .el-table th.el-table__cell {
    background-color: #3b3b3b;
}

.dark .el-table tr {
    background-color: #1d1d1d;
}

.dark .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell {
    background-color: #2d2d2d;
}

.dark .el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
    background: #282828;
}

.dark .el-table thead {
    color: #fff
}

.dark .el-table {
    color: #eeeeee;
}

.dark .el-table__body-wrapper.is-scrolling-none {
    background: #3b3b3b;
}

.dark .el-input__inner,
.dark .el-textarea__inner {
    background-color: #252525;
    color: #fff;
}

.dark .el-input.is-disabled .el-input__inner {
    filter: invert(1);
}

.dark .el-pagination.is-background .btn-next,
.dark .el-pagination.is-background .btn-prev,
.dark .el-pagination.is-background .el-pager li {
    background-color: #444444;
}

.dark .el-button--default {
    box-shadow: unset;
    background: #1a1a1a;
    color: #e4e4e4;
}

.dark .el-button--danger.is-plain {
    background: #2e1b1b;
}

.dark .el-button--success.is-plain {
    background: #1c2e1b;
}

.dark .el-button.is-plain:focus,.dark .el-button.is-plain:hover {
    background: #292929;
}

.dark .el-button--warning {
    background: #242200;
}

.dark .el-button:focus,
.dark .el-button:hover {
    color: #ffffff;
    filter: brightness(0.8);
}

.dark .el-loading-mask {
    background-color: rgb(0 0 0 / 60%);
}

.dark .el-select__popper.el-popper[role=tooltip],
.dark .el-dropdown-menu {
    background: #232323;
}

.dark .el-select-dropdown__item,
.dark .el-dropdown-menu__item {
    color: #c0c0c0;
}

.dark .el-select-dropdown__item.hover,
.dark .el-select-dropdown__item:hover,
.dark .el-dropdown-menu__item:focus,
.dark .el-dropdown-menu__item:not(.is-disabled):hover,
.dark .el-popper {
    background-color: #353535;
}

.dark .line-info,
.dark .el-tabs__item,
.dark .el-message-box__title,
.dark .el-message-box__message,
.dark .home-copyright,
.dark .sub-title-title,
.dark .el-popper {
    color: #ffffff;
}

.dark .components-block-button-warpper {
    background-color: #2d2d2d;
}

.dark .select-block:hover {
    border: 1px solid #aaa;
}

.dark .el-message-box {
    background-color: #212121;
}

.page-header-img {
    background: unset;
}

.dark .el-tag.el-tag--info {
    background-color: #060606;
}

@media (prefers-color-scheme: dark) {
    .auto a {
        color: #ff8cc3;
        transition: all 0.3s;
    }

    .auto a:hover {
        color: #ff65ae;
    }

    .auto,#login-panel-wrapper {
        background: #111111;
    }

    .auto .el-card {
        background: #202020;
        color: #fff
    }

    .auto #app-menu {
        background: #202020;
        border-right: 1px solid #787878;
    }

    .auto .el-drawer {
        background: #202020;
        border: 1px solid #787878;
    }

    .auto .overview-info-title {
        color: #b3e8ff;
    }

    .auto .sub-title-info {
        color: #afeaff;
    }

    .auto .el-table th.el-table__cell {
        background-color: #3b3b3b;
    }

    .auto .el-table tr {
        background-color: #1d1d1d;
    }

    .auto .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell {
        background-color: #2d2d2d;
    }

    .auto .el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
        background: #282828;
    }

    .auto .el-table thead {
        color: #fff
    }

    .auto .el-table {
        color: #eeeeee;
    }

    .auto .el-table__body-wrapper.is-scrolling-none {
        background: #3b3b3b;
    }

    .auto .el-input__inner,
    .auto .el-textarea__inner {
        background-color: #252525;
        color: #fff;
    }

    .auto .el-input.is-disabled .el-input__inner {
        filter: invert(1);
    }

    .auto .el-pagination.is-background .btn-next,
    .auto .el-pagination.is-background .btn-prev,
    .auto .el-pagination.is-background .el-pager li {
        background-color: #444444;
    }

    .auto .el-button--default {
        box-shadow: unset;
        background: #1a1a1a;
        color: #e4e4e4;
    }

    .auto .el-button--danger.is-plain {
        background: #2e1b1b;
    }
    
    .auto .el-button--success.is-plain {
        background: #1c2e1b;
    }
    
    .auto .el-button.is-plain:focus,.auto .el-button.is-plain:hover {
        background: #292929;
    }
    
    .auto .el-button:focus,
    .auto .el-button:hover {
        color: #ffffff;
        filter: brightness(0.8);
    }

    .auto .el-loading-mask {
        background-color: rgb(0 0 0 / 60%);
    }

    .auto .el-select__popper.el-popper[role=tooltip],
    .auto .el-dropdown-menu {
        background: #232323;
    }

    .auto .el-select-dropdown__item,
    .auto .el-dropdown-menu__item {
        color: #c0c0c0;
    }

    .auto .el-select-dropdown__item.hover,
    .auto .el-select-dropdown__item:hover,
    .auto .el-dropdown-menu__item:focus,
    .auto .el-dropdown-menu__item:not(.is-disabled):hover,
    .dark .el-popper {
        background-color: #353535;
    }

    .auto .auto .line-info,
    .auto .el-tabs__item,
    .auto .el-message-box__title,
    .auto .el-message-box__message,
    .auto .home-copyright,
    .auto .sub-title-title,
    .dark .el-popper {
        color: #ffffff;
    }

    .auto .components-block-button-warpper {
        background-color: #2d2d2d;
    }

    .auto .select-block:hover {
        border: 1px solid #aaa;
    }

    .auto .el-message-box {
        background-color: #212121;
    }

    .auto .page-header-img {
        background: unset;
    }

    .auto .el-tag.el-tag--info {
        background-color: #060606;
    }

}