/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #409eff;

/* icon font path, required */
$--font-path: "~element-plus/lib/theme-chalk/fonts";

@import "~element-plus/packages/theme-chalk/src/index";

body,
html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    Arial, sans-serif;
  margin: 0;
  height: 100%;
  background-color: #e9eef3;
  color: #333;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

.app {
  height: 100%;
}

.el-container {
  height: 100%;
  overflow-y: auto;
}

.el-menu {
  border-right: 0px;
}

.el-menu-item {
  height: 45px;
  line-height: 45px;
}

.el-card.is-always-shadow {
  box-shadow: 0 2px 4px 0 rgb(54 58 80 / 32%);
}

.el-card {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.9);

  margin-bottom: 20px;
  border: 1px solid #dcdfe6;
}
